@media (min-width: 1300px){
  .slick-slide {
    padding: 4rem!important;
  }
}

@media (max-width: 1299px){
  .slick-slide {
    padding: 1rem;
  }
}
@media (max-width: 567px){
  .slick-slide {
    padding: 2rem;
  }
}
.slick-prev, .slick-next {
  z-index: 1; 
  margin: 5px;
}